extends layout

block content
  section#head.section
    .container.keyPad
      .row
        .col-md-12.col-lg-12.col-md-offset-1.col-lg-offset-1.text-center
          h2.title United Effects Platform
          h3.subtitle UE Boilerplate ES6 MongoDB Service
          h4.tagline
            | A boilerplate to help speed along development of an es6 node service with MongoDB using Mongoose
          p
          .row
            .col-md-4
              a.btn.btn-default.btn-lg.btn-block(href='/swagger' style="font-size: 1.6em;") Swagger&nbsp;
            .col-md-4
              a.btn.btn-default.btn-lg.btn-block(href='https://github.com/UnitedEffects/ue-boilerplate_srvc-es6-mongoose' style="font-size: 1.6em;") Code&nbsp;
            .col-md-4
              a.btn.btn-default.btn-lg.btn-block(href='mailto:bmotlagh@unitedeffects.com' + maintainer style="font-size: 1.6em;") Maintainer &nbsp;